{% extends 'main/layoute.html' %}

{% block title %}
	<title>Страница для добавления новостей</title>
{% endblock %}

{% block content %}
<h1>Страница для добавления новостей</h1>
<div>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="newsTitle">Заголовок новости</label>
        <input type="text" class="form-control" id="newsTitle" placeholder="Введите заголовок новости">
    </div>

    <div class="form-group">
        <label for="newsDescription">Краткое описание новости</label>
        <input type="text" class="form-control" id="newsDescription" placeholder="Введите краткое описание новости">
    </div>

    <div class="form-group">
        <label for="newsContent">Содержание новости</label>
        <textarea class="form-control" id="newsContent" placeholder="Введите содержание новости" rows="4"></textarea>
    </div>

    <div class="form-group">
        <label for="newsDate">Дата события</label>
        <input type="date" class="form-control" id="newsDate">
    </div>

    <div class="form-group">
        <label for="newsTime">Время события</label>
        <input type="time" class="form-control" id="newsTime">
    </div>

    <button type="submit" class="btn btn-primary">Добавить новость</button>
</form>
</div>
{% endblock %}