{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content %}

<h1>Здравствуйте и добро пожаловать на наш сайт {{caption}}, созданный на платформе Django!</h1>>
<p> {{caption}} призван обеспечить высокий уровень удобства и функциональности
    для всех наших пользователей. Независимо от того, ищете ли вы информацию,
    хотите начать новый проект или нуждаетесь в специализированных сервисах,
    вы находитесь в правильном месте!</p>

    {% include 'main/nav.html'%}
    <h1>Урок номер 2 по изучению фреймворка django</h1>
{% endblock %}